
 /* #slider-59a53f8e0d834 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-205 > .image */ 
#slider-59a53f8e0d834 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-205 > .image { background-image: url('//electron.microweber.com/api_html/thumbnail_img?&src=userfiles/media/electron-microweber-com/uploaded/laptop.jpg&width=900&height=0&cache_id=tn-cb6dbe9b645e7d3d3fa82fb569071e42.jpg'); }
 /* #slider-59a53f8e0d834 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-205 > .image */ 

 /* #bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-current.slick-active > .image.active */ 
#bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-current.slick-active > .image.active { background-image: url('//electron.microweber.com/api_html/thumbnail_img?&src=userfiles/media/electron-microweber-com/uploaded/laptop.jpg&width=150&height=0&cache_id=tn-c7751886fbee0002f7783bc2b6168738.jpg'); }
 /* #bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-current.slick-active > .image.active */ 

 /* #bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-active > .image */ 
#bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-active > .image { background-image: url('//electron.microweber.com/api_html/thumbnail_img?&src=userfiles/media/electron-microweber-com/uploaded/zenbook_4_1_180x180.jpg&width=150&height=0&cache_id=tn-6e72f36db799c593c30dd2eb4fefc9aa.jpg'); }
 /* #bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-active > .image */ 

 /* #comments-form-module-commentsdeba2e11bdf0b5130d28862ba9ddb5be-7 > div.row.comment-textarea > div.col-sm-12..comment-field > .form-control.input-lg */ 
#comments-form-module-commentsdeba2e11bdf0b5130d28862ba9ddb5be-7 > div.row.comment-textarea > div.col-sm-12..comment-field > .form-control.input-lg { z-index: auto; position: relative; line-height: 24px; font-size: 18px; transition: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255); }
 /* #comments-form-module-commentsdeba2e11bdf0b5130d28862ba9ddb5be-7 > div.row.comment-textarea > div.col-sm-12..comment-field > .form-control.input-lg */ 

 /* #slider-59a54ee0b6c9f > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-208 > .image */ 
#slider-59a54ee0b6c9f > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-208 > .image { background-image: url('//electron.microweber.com/api_html/thumbnail_img?&src=userfiles/media/electron-microweber-com/uploaded/samsung_galaxy_j3_2017.jpg&width=900&height=0&cache_id=tn-9f0bee93282e364e2b05a0b7669a8845.jpg'); }
 /* #slider-59a54ee0b6c9f > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-208 > .image */ 

 /* #bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-current.slick-active > .image */ 
#bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-current.slick-active > .image { background-image: url('//electron.microweber.com/userfiles/cache/thumbnails/150/tn-d8dfd8b5b70c0248dee6e6fa9a240867.png'); }
 /* #bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-current.slick-active > .image */ 

 /* #bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-active > .image.active */ 
#bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-active > .image.active { background-image: url('//electron.microweber.com/api_html/thumbnail_img?&src=userfiles/media/electron-microweber-com/uploaded/samsung_galaxy_j3_2017.jpg&width=150&height=0&cache_id=tn-d3db3b59df2ed4112d793ca5637edf6e.jpg'); }
 /* #bx-pager > div.slick.slick-initialized.slick-slider > div.slick-list.draggable > div.slick-track > div.item.slick-slide.slick-active > .image.active */ 

 /* #logo_header > a.mw-ui-row-nodrop.module-logo.navbar-brand > span.mw-ui-col > */ 
#logo_header > a.mw-ui-row-nodrop.module-logo.navbar-brand > span.mw-ui-col > { max-width: 100%;width: 166px; }
 /* #logo_header > a.mw-ui-row-nodrop.module-logo.navbar-brand > span.mw-ui-col > */ 

 /* #module-picturesb5728c28d6da0de60f94708ed9bc3e17-49 > .pictures-module-default-view.mw-open-module-settings.thumbnail */ 
#module-picturesb5728c28d6da0de60f94708ed9bc3e17-49 > .pictures-module-default-view.mw-open-module-settings.thumbnail { height:65px;background: #f5f5f5 url(//sasho.microweber.com/userfiles/modules/pictures/pictures.png) no-repeat center; }
 /* #module-picturesb5728c28d6da0de60f94708ed9bc3e17-49 > .pictures-module-default-view.mw-open-module-settings.thumbnail */ 

 /* .mw-plus-top.mw-wyswyg-plus-element */ 
.mw-plus-top.mw-wyswyg-plus-element { top: 2728px; left: 0px; }
 /* .mw-plus-top.mw-wyswyg-plus-element */ 

 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 
.mw-plus-bottom.mw-wyswyg-plus-element {  top: 1354px; left: 46.5px; top: 829px; left: 50.5px; }
 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 

 /* body */ 
body {  cursor: auto; mw-pad-top: 53px; cursor: auto; }
 /* body */ 
