
 /* #footer_contact_form > div.contact-form-container.contact-form-template-dream > div.contact-form > form.mw_form > div.control-group.form-group > .mw-ui-row.captcha-holder */ 
#footer_contact_form > div.contact-form-container.contact-form-template-dream > div.contact-form > form.mw_form > div.control-group.form-group > .mw-ui-row.captcha-holder { width: 220px; }
 /* #footer_contact_form > div.contact-form-container.contact-form-template-dream > div.contact-form > form.mw_form > div.control-group.form-group > .mw-ui-row.captcha-holder */ 

 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 
.mw-plus-bottom.mw-wyswyg-plus-element {  top: 2848.66px; left: 391.5px; top: 726px; left: 391.5px; }
 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 

 /* body */ 
body {  cursor: auto; mw-pad-top: 53px; cursor: auto; }
 /* body */ 
