span.select2.select2-container.select2-container--default {
  width: 120px !important;
  margin: 12px 0;
  }
.wishlist-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  }
#delete_sss.btn i,
#edit_sss.btn i {
  margin-right: 0px;
  }
  #delete_sss,
  #edit_sss {
  padding: 8px 16px;
  margin: 6px;
  }
  .shop-sidebar-wishlist {
  margin-bottom: 60px;
  }
  h4.element.sidebar-title {
  margin-bottom: 16px;
  }
  .prdoduct-des-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
  
  
  
  
  
  .dropbtn {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
  background-color: #FF2051;
  border: 1px solid#FF2051;
  } */
  
  .dropdown {
  position: relative;
  display: inline-block;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;

  z-index: 1;
  }
  
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  .module-categories .well {
  min-height: 20px;
  padding: 0px;
  width: 200px;
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  max-height: 200px;
  overflow-y: scroll;
  }
  .zoomWrapper {
  margin-right: 10px;
  }
  .slick-track {
  width: 700px !important;
  }
  .zoomWrapper {
  display: inline-flex;
  }
  .dropbtn #myInput {
  border-radius: 5px;
  padding: 0px 12px;
  width: 200px;
  }
  .nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #FF2051 !important;
  color: #fff !important;
  }
  
  
  .module-categories .well::-webkit-scrollbar {
  width: 5px;
  }
  
  .module-categories .well::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .module-categories .well::-webkit-scrollbar-thumb {
  background-color: #FF2051;
  outline: 1px solid #FF2051;
  }

  .member-nav .dropdown-menu>li>a{
    color: #000 !important;
    transition: all .3s;
    padding-top: 7px;
    padding-bottom: 7px;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
}


.product-col {
    width: 19%;
    padding: 0 8px;
}

.shop-products .product-label {
    display: none;
}

.shop-products .product .image {
    height: 200px !important;
}

.shop-products .product .hover .btn {
    padding: 6px !important;
}

.shop-products .product .hover .btn i {
    font-size: 20px !important;
}

.shop-products .product h4 {
    color: #161616;
    font-weight: 700;
    font-size: 16px;
    margin: 25px 0 15px;
    text-decoration: none;
    text-align: center;
}


.shop-products .product .price span {
    font-size: 14px !important
}
