
 /* #video_58a432a302aab */ 
#video_58a432a302aab { background-image: url(//i.vimeocdn.com/video/576830306_640.jpg) }
 /* #video_58a432a302aab */ 

 /* #section-about > div.wrapper > div.read-more.active > div.mw-ui-row.box-info-row > .mw-ui-col */ 
#section-about > div.wrapper > div.read-more.active > div.mw-ui-row.box-info-row > .mw-ui-col { width:33.333% }
 /* #section-about > div.wrapper > div.read-more.active > div.mw-ui-row.box-info-row > .mw-ui-col */ 

 /* #mw-gallery-58a70a832bc94 > div.slick-list.draggable > div.slick-track > .mw-pictures-slick-item.mw-pictures-slick-item-95.slick-slide.slick-current.slick-active */ 
#mw-gallery-58a70a832bc94 > div.slick-list.draggable > div.slick-track > .mw-pictures-slick-item.mw-pictures-slick-item-95.slick-slide.slick-current.slick-active { background-image: url(//pulse-preview.microweber.com/api_html/thumbnail_img?&src=userfiles/media/pulse-preview-microweber-com/uploaded/rio_olympics_2016_01.jpg&width=1200&height=200&cache_id=tn-c01fb164ebbc40eaa2662cc58b8b829d.jpg); display: block; width: 1000px; }
 /* #mw-gallery-58a70a832bc94 > div.slick-list.draggable > div.slick-track > .mw-pictures-slick-item.mw-pictures-slick-item-95.slick-slide.slick-current.slick-active */ 

 /* #mw-gallery-58a70a832bc94 > div.slick-list.draggable > div.slick-track > .mw-pictures-slick-item.mw-pictures-slick-item-95.slick-slide */ 
#mw-gallery-58a70a832bc94 > div.slick-list.draggable > div.slick-track > .mw-pictures-slick-item.mw-pictures-slick-item-95.slick-slide { background-image: url(//pulse-preview.microweber.com/api_html/thumbnail_img?&src=userfiles/media/pulse-preview-microweber-com/uploaded/rio_olympics_2016_01.jpg&width=1200&height=200&cache_id=tn-c01fb164ebbc40eaa2662cc58b8b829d.jpg); display: block; width: 1000px; }
 /* #mw-gallery-58a70a832bc94 > div.slick-list.draggable > div.slick-track > .mw-pictures-slick-item.mw-pictures-slick-item-95.slick-slide */ 

 /* body */ 
body {  cursor: auto; mw-pad-top: 53px; }
 /* body */ 

 /* .mw-plus-top.mw-wyswyg-plus-element */ 
.mw-plus-top.mw-wyswyg-plus-element { top: 990px; left: 847.46875px; }
 /* .mw-plus-top.mw-wyswyg-plus-element */ 
