
 /* body */ 
body {  cursor: auto; mw-pad-top: 53px; }
 /* body */ 

 /* .mw-plus-top.mw-wyswyg-plus-element */ 
.mw-plus-top.mw-wyswyg-plus-element { top: 471px; left: 385px; }
 /* .mw-plus-top.mw-wyswyg-plus-element */ 
