
 /* #element_1545148994012 > .icon.safe-element.mw-wysiwyg-custom-icon.mw-micon-.mw-micon-Add-Basket */ 
#element_1545148994012 > .icon.safe-element.mw-wysiwyg-custom-icon.mw-micon-.mw-micon-Add-Basket { color:rgb(255, 255, 255);  }
 /* #element_1545148994012 > .icon.safe-element.mw-wysiwyg-custom-icon.mw-micon-.mw-micon-Add-Basket */ 

 /* body */ 
body { cursor:auto; mw-pad-top:53px;  }
 /* body */ 
