
 /* #slider-599ec9348c0f6 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-86 > .image */ 
#slider-599ec9348c0f6 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-86 > .image { background-image: url('//booking.microweber.com/userfiles/cache/thumbnails/900/tn-56992bffabae4b44eafbe6a83411ac28.jpg'); }
 /* #slider-599ec9348c0f6 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-86 > .image */ 

 /* #slider-599ec96a58cf4 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-58 > .image */ 
#slider-599ec96a58cf4 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-58 > .image { background-image: url('//booking.microweber.com/api_html/thumbnail_img?&src=userfiles/media/booking-microweber-com/uploaded/_31_0002.jpg&width=900&height=0&cache_id=tn-227ccca652903dba0e94bf8e1cf7d404.jpg'); }
 /* #slider-599ec96a58cf4 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-58 > .image */ 

 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 
.mw-plus-bottom.mw-wyswyg-plus-element { top: 2895px; left: 268.5px; }
 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 

 /* .mw-plus-top.mw-wyswyg-plus-element */ 
.mw-plus-top.mw-wyswyg-plus-element { top: 1841px; left: 283.5px; }
 /* .mw-plus-top.mw-wyswyg-plus-element */ 

 /* body */ 
body {  cursor: auto; mw-pad-top: 53px; cursor: auto; }
 /* body */ 

 /* #slider-59bbb15a46f10 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-202 > .image */ 
#slider-59bbb15a46f10 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-202 > .image { background-image: url('//booking.microweber.com/api_html/thumbnail_img?&src=userfiles/media/booking-microweber-com/uploaded/_ldv4945-hdr.jpg&width=900&height=0&cache_id=tn-1ef87653854bae1eed1804b7da698fcf.jpg'); }
 /* #slider-59bbb15a46f10 > div.col-xs-12.big-thumb > div.bx-wrapper > div.bx-viewport > ul.bxslider > li.mw-gallery-item-202 > .image */ 
