
 /* #mw-tooltip-1495697254296 */ 
#mw-tooltip-1495697254296 { top: 1142px; left: 783.484px; display: none; }
 /* #mw-tooltip-1495697254296 */ 

 /* #mw-tooltip-1495697254296 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li */ 
#mw-tooltip-1495697254296 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li { display: none; }
 /* #mw-tooltip-1495697254296 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li */ 

 /* #module-settings-module-shop-products4faf908c8cbd2b66306c6299df7d04f0-5 */ 
#module-settings-module-shop-products4faf908c8cbd2b66306c6299df7d04f0-5 { width: 810px; height: 733px; display: block; top: 97px; left: 441.5px; }
 /* #module-settings-module-shop-products4faf908c8cbd2b66306c6299df7d04f0-5 */ 

 /* #mw-tooltip-1495706841439 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 
#mw-tooltip-1495706841439 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector { display: block; height: 362px; }
 /* #mw-tooltip-1495706841439 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 

 /* #mw-tooltip-1495706891098 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 
#mw-tooltip-1495706891098 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab { width: 300px; }
 /* #mw-tooltip-1495706891098 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 

 /* #mw-tooltip-1495716639833 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 
#mw-tooltip-1495716639833 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab { width: 300px; }
 /* #mw-tooltip-1495716639833 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 

 /* #mw-tooltip-1495716639833 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 
#mw-tooltip-1495716639833 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector { display: block; height: 222px; }
 /* #mw-tooltip-1495716639833 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 

 /* #mw-tooltip-1495801583596 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li */ 
#mw-tooltip-1495801583596 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li { display: none; }
 /* #mw-tooltip-1495801583596 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > ul.mw-icon-selector > li */ 

 /* #mw-tooltip-1495802393369 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 
#mw-tooltip-1495802393369 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector { display: block; height: 245px; }
 /* #mw-tooltip-1495802393369 > div.mw-tooltip-content > div.mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab > .mw-icon-selector */ 

 /* #module-google-maps76fdae65266b6ad1dc29cd8f3fd2774f > div.relative > .iframe_fix */ 
#module-google-maps76fdae65266b6ad1dc29cd8f3fd2774f > div.relative > .iframe_fix { display: block; }
 /* #module-google-maps76fdae65266b6ad1dc29cd8f3fd2774f > div.relative > .iframe_fix */ 

 /* #module-picturesb5728c28d6da0de60f94708ed9bc3e17 > .pictures-module-default-view.mw-open-module-settings.thumbnail */ 
#module-picturesb5728c28d6da0de60f94708ed9bc3e17 > .pictures-module-default-view.mw-open-module-settings.thumbnail { height:65px;background: #f5f5f5 url(//sasho.microweber.com/userfiles/modules/pictures/pictures.png) no-repeat center; }
 /* #module-picturesb5728c28d6da0de60f94708ed9bc3e17 > .pictures-module-default-view.mw-open-module-settings.thumbnail */ 

 /* #template-settings > .template-settings-icon */ 
#template-settings > .template-settings-icon {  background-color: rgb(111, 111, 111); null }
 /* #template-settings > .template-settings-icon */ 

 /* .mw-plus-top.mw-wyswyg-plus-element */ 
.mw-plus-top.mw-wyswyg-plus-element {  top: 614px; left: 313.094px; top: 1068px; left: 1310px; }
 /* .mw-plus-top.mw-wyswyg-plus-element */ 

 /* #mw-reset-content-editor-front > .iframe_fix */ 
#mw-reset-content-editor-front > .iframe_fix { display: none; }
 /* #mw-reset-content-editor-front > .iframe_fix */ 

 /* #mw-tooltip-1500539087434 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 
#mw-tooltip-1500539087434 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab { width: 300px; display: none; }
 /* #mw-tooltip-1500539087434 > div.mw-tooltip-content > .mw-ui-box.mw-ui-box-content.live-edit-icon-pick-tab */ 

 /* div.main > div.container.page-blog > div.content-wrapper > div.content-holder > div.edit.changed > div.row > .col-xs-12.col-md-8.col-lg-9 */ 
div.main > div.container.page-blog > div.content-wrapper > div.content-holder > div.edit.changed > div.row > .col-xs-12.col-md-8.col-lg-9 { height:auto;  }
 /* div.main > div.container.page-blog > div.content-wrapper > div.content-holder > div.edit.changed > div.row > .col-xs-12.col-md-8.col-lg-9 */ 

 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 
.mw-plus-bottom.mw-wyswyg-plus-element { top:-9999px; left:1374px;  }
 /* .mw-plus-bottom.mw-wyswyg-plus-element */ 

 /* #mw-element_1547204027798 > div.mw-image-holder-content > div.content-holder > div.inner > h1 > div > span */ 
#mw-element_1547204027798 > div.mw-image-holder-content > div.content-holder > div.inner > h1 > div > span { font-family:inherit;  }
 /* #mw-element_1547204027798 > div.mw-image-holder-content > div.content-holder > div.inner > h1 > div > span */ 

 /* #mw-element_1547204027798 > div.mw-image-holder-content > div.content-holder > div.inner > div */ 
#mw-element_1547204027798 > div.mw-image-holder-content > div.content-holder > div.inner > div { text-align:left;  }
 /* #mw-element_1547204027798 > div.mw-image-holder-content > div.content-holder > div.inner > div */ 

 /* #mw-tooltip-1547204924881 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color */ 
#mw-tooltip-1547204924881 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color { background-color:rgb(255, 255, 255);  }
 /* #mw-tooltip-1547204924881 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color */ 

 /* .mw-cloneable-control */ 
.mw-cloneable-control { top:756px; left:342.5px; display:none;  }
 /* .mw-cloneable-control */ 

 /* #module-layouts-10--1 > div.bootstrap3ns > section.edit.safe-mode.nodrop.changed > div.page-contacts > div.content > div.row > div.col-xs-12 > div.row > .col-xs-12.col-sm-4 */ 
#module-layouts-10--1 > div.bootstrap3ns > section.edit.safe-mode.nodrop.changed > div.page-contacts > div.content > div.row > div.col-xs-12 > div.row > .col-xs-12.col-sm-4 { height:auto;  }
 /* #module-layouts-10--1 > div.bootstrap3ns > section.edit.safe-mode.nodrop.changed > div.page-contacts > div.content > div.row > div.col-xs-12 > div.row > .col-xs-12.col-sm-4 */ 

 /* #element_1547205736414 */ 
#element_1547205736414 { text-align:center;  }
 /* #element_1547205736414 */ 

 /* #module-layouts-15--2 */ 
#module-layouts-15--2 { margin:26px 0px 10px; padding:0px 0px 23px;  }
 /* #module-layouts-15--2 */ 

 /* #module-layouts-15--4 */ 
#module-layouts-15--4 { padding:0px;  }
 /* #module-layouts-15--4 */ 

 /* #module-layouts-15--5 */ 
#module-layouts-15--5 { margin:24px 0px 10px; padding:0px 0px 20px;  }
 /* #module-layouts-15--5 */ 

 /* #mw-sidebar-modules-and-layouts-holder > div.mw-ui-box-content.tabitem.mw-normalize-css..mw-live-edit-sidebar-iframe-holder > .mw-accordion.mw-accordion-window-height.mw-component-ready.mw-accordion-ready */ 
#mw-sidebar-modules-and-layouts-holder > div.mw-ui-box-content.tabitem.mw-normalize-css..mw-live-edit-sidebar-iframe-holder > .mw-accordion.mw-accordion-window-height.mw-component-ready.mw-accordion-ready { height:1151px;  }
 /* #mw-sidebar-modules-and-layouts-holder > div.mw-ui-box-content.tabitem.mw-normalize-css..mw-live-edit-sidebar-iframe-holder > .mw-accordion.mw-accordion-window-height.mw-component-ready.mw-accordion-ready */ 

 /* #mw-tooltip-1547206152830 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color */ 
#mw-tooltip-1547206152830 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color { background-color:rgb(0, 132, 216);  }
 /* #mw-tooltip-1547206152830 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color */ 

 /* #element_1547206192640 */ 
#element_1547206192640 { height:auto;  }
 /* #element_1547206192640 */ 

 /* #element_1547206200002 */ 
#element_1547206200002 { width:50%; height:auto;  }
 /* #element_1547206200002 */ 

 /* #mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > div.mw-live-edit-tab-title.modules > div.mw-liveedit-sidebar-search-wrapper > .mw-sidebar-search-clear-x-btn.mw-icon-close */ 
#mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > div.mw-live-edit-tab-title.modules > div.mw-liveedit-sidebar-search-wrapper > .mw-sidebar-search-clear-x-btn.mw-icon-close { display:none;  }
 /* #mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > div.mw-live-edit-tab-title.modules > div.mw-liveedit-sidebar-search-wrapper > .mw-sidebar-search-clear-x-btn.mw-icon-close */ 

 /* #element_1547206444937 */ 
#element_1547206444937 { text-align:center;  }
 /* #element_1547206444937 */ 

 /* #element_1547206463936 */ 
#element_1547206463936 { font-size:24px;  }
 /* #element_1547206463936 */ 

 /* #mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > .mw-live-edit-tab-title.layouts */ 
#mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > .mw-live-edit-tab-title.layouts { position:fixed; width:100%; background:#f5f5f5; z-index:999;  }
 /* #mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > .mw-live-edit-tab-title.layouts */ 

 /* #mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > .mw-live-edit-tab-title.modules */ 
#mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > .mw-live-edit-tab-title.modules { position:fixed; width:100%; background:#f5f5f5; z-index:999;  }
 /* #mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > .mw-live-edit-tab-title.modules */ 

 /* #mw-tooltip-1547217732148 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color */ 
#mw-tooltip-1547217732148 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color { background-color:rgb(0, 123, 181);  }
 /* #mw-tooltip-1547217732148 > div.mw-tooltip-content > div.a-color-picker.hide-rgb.hide-hsl.hide-single-input > div.a-color-picker-row.a-color-picker-palette > .a-color-picker-palette-color */ 

 /* #mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > div.mw-live-edit-tab-title.layouts > div.mw-liveedit-sidebar-search-wrapper > .mw-sidebar-search-clear-x-btn.mw-icon-close */ 
#mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > div.mw-live-edit-tab-title.layouts > div.mw-liveedit-sidebar-search-wrapper > .mw-sidebar-search-clear-x-btn.mw-icon-close { display:none;  }
 /* #mw-sidebar-modules-and-layouts-holder > div.tabitem.mw-normalize-css > div.mw-live-edit-tab-title.layouts > div.mw-liveedit-sidebar-search-wrapper > .mw-sidebar-search-clear-x-btn.mw-icon-close */ 

 /* #element_1547206197613 */ 
#element_1547206197613 { padding:0px 50px;  }
 /* #element_1547206197613 */ 

 /* #element_1547206201239 */ 
#element_1547206201239 { padding:0px 50px;  }
 /* #element_1547206201239 */ 

 /* #element_1547206442896 */ 
#element_1547206442896 { padding:0px 50px;  }
 /* #element_1547206442896 */ 

 /* #element_1547206199781 */ 
#element_1547206199781 { margin:0px 0px 46px; padding:0px 50px;  }
 /* #element_1547206199781 */ 

 /* #layouts-20190111160219 */ 
#layouts-20190111160219 { margin:50px 0px;  }
 /* #layouts-20190111160219 */ 

 /* body */ 
body { cursor:auto; mw-pad-top:53px;  }
 /* body */ 

 /* #layouts-20190111160318 */ 
#layouts-20190111160318 { margin:0px 0px 50px;  }
 /* #layouts-20190111160318 */ 
